.RegisterationItem {
    position: flex;
    text-align: left;
}

.RegisterationItem-card {
    width: 55rem;
    background: #f2f0ed;
    top: 0;
    position: flex;
    text-align: center;
 }

 .card-image {
     background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
     border: 3rem linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

 }

.col-3 {
    text-align: left;
    color: black;
    font-size: calc(2px + 2vmin);
}

.text-muted {
    font-size: calc(7px + 1vmin);
}

.RegisterationItem-b {
    width: '15rem';
    display: 'grid';
}

.RegisterationItem-link {
    font-size: calc(7px + 1vmin);
}

.container-1 {
    height: 200px;
    width: 180px;
    border-radius: 10px;
    background-color: rgba(161, 158, 153, 0.5);
}

.heading {
    text-align: center;
    margin-top: 1rem;
    color: black;
    font-size: 20px;
}

.img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    align-items: center;
    margin-top: 1rem;
}

#input[type="file"] {
    display: none;
}

.material-icons {
    color: black;
    size: 50%;
}

.label {
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
}

.text-pic {
    margin-bottom: 1rem;
    height: 30px;
    margin-top: 10rem;
}